<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tel" class="form-control" name="row[tel]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('One')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-one" class="form-control" name="row[one]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Two')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-two" class="form-control" name="row[two]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Three')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-three" class="form-control" name="row[three]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Four')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-four" class="form-control" name="row[four]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Five')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-five" class="form-control" name="row[five]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Six')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-six" class="form-control" name="row[six]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Seven')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-seven" class="form-control" name="row[seven]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Eight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-eight" class="form-control" name="row[eight]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nine')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nine" class="form-control" name="row[nine]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ten')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ten" class="form-control" name="row[ten]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Eleven')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-eleven" class="form-control" name="row[eleven]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Twelve')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-twelve" class="form-control" name="row[twelve]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Thirteen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-thirteen" class="form-control" name="row[thirteen]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fourteen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fourteen" class="form-control" name="row[fourteen]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fifteen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fifteen" class="form-control" name="row[fifteen]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sixteen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sixteen" class="form-control" name="row[sixteen]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Seventeen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-seventeen" class="form-control" name="row[seventeen]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Eighteen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-eighteen" class="form-control" name="row[eighteen]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nineteen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nineteen" class="form-control" name="row[nineteen]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Twenty')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-twenty" class="form-control" name="row[twenty]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Twenty_one')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-twenty_one" class="form-control" name="row[twenty_one]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Twenty_two')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-twenty_two" class="form-control" name="row[twenty_two]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Twenty_three')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-twenty_three" class="form-control" name="row[twenty_three]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-images" class="form-control" size="50" name="row[images]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-images" class="btn btn-danger plupload" data-input-id="c-images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-images" class="btn btn-primary fachoose" data-input-id="c-images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-images"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Add_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-add_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[add_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
